@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300);

* {
	margin: 0;
	background: #BDBDBD;
}

h2 {
	margin-top: 5px !important;
}

body {
  div#root{
    //background-color: grey;
    color: #8EE4AF;
    font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial';
  }
}